.recents-container {
  display: flex;
  flex-direction: column;
  /* justify-content:start; */
  gap: 1rem;
  align-items: flex-start;
}

.gallery {
  display: flex;
  padding: 1rem 0;
  gap: 2rem;
}

.gallery-title {
  font-size: 1rem;
  width: 200px; /* Ensure a consistent width for titles */
  text-align: right;
}
